@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Red Hat Display, sans-serif;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color:hsl(225, 100%, 94%);
    position: relative;
}
.container
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    background:white;
    border-radius: 20px;
    overflow: hidden;
}
.text-content
{
    padding: 7%;
    text-align: center;
}
.title
{
    color:hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}
.text-content p.subtitle
{
    color: #6a6d8e;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 16px;
}

.container p.subtitle{
    padding: 0 20px;
}

.subscription-plan-box
{
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

h4{
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.subscribtion-plan-box-left
{
    display: flex;
    align-items: center;
    text-align: left;
}
.subscribtion-plan-box-left div
{
    margin-left: 20px;
}

.subscription-plan-box a    {
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.subscription-plan-box a:hover  {
    color: #766cf1;
    text-decoration: none;
}

a   {
    text-decoration: none;
}

button{
    font-size: inherit;
    margin: 20px;
    font-family: inherit;
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    width: 387px;
    position: relative;
    left: -5%;
    border-style: none;
}

button a    {
    color: white;
}

button:hover    {
    background-color: #766cf1;
}

#cancel {
    color: #6a6d8e;
    font-weight: 600;
}

#cancel:hover   {
    color: #2f334e;
}
